<footer>
    <ul class="col-md-4 col-md-offset-4 list-unstyle list-inline" style="display:flex;justify-content: center">
        <li>友情链接</li>
        <li><a href="">百度</a></li>
        <li><a href="">京东</a></li>
        <li><a href="">天猫</a></li>
        <li><a href="">亚马逊</a></li>
        <li><a href="">兄弟连</a></li>
        <li><a href="">知乎</a></li>
    </ul>
    <div class="clearfix"></div>
    <p class="text-center">Copyright © 2017 All Rights Reserved. 京ICP备13041202号 Powered by xiaohigh</p>

    <div class="col-md-4 col-md-offset-4" style="display:flex;justify-content: center"><div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
        <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script></div>

</footer>
<!-- 底部  end -->
</body>

</html>